<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Quotation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SelectClient</display-name>
    <servlet-name>SelectClient</servlet-name>
    <servlet-class>bb.com.SelectClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectClient</servlet-name>
    <url-pattern>/SelectClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClient</display-name>
    <servlet-name>AddClient</servlet-name>
    <servlet-class>bb.com.AddClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClient</servlet-name>
    <url-pattern>/AddClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuotationPdf</display-name>
    <servlet-name>QuotationPdf</servlet-name>
    <servlet-class>bb.com.QuotationPdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuotationPdf</servlet-name>
    <url-pattern>/QuotationPdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProject</display-name>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>bb.com.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewProject</display-name>
    <servlet-name>AddNewProject</servlet-name>
    <servlet-class>bb.com.AddNewProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewProject</servlet-name>
    <url-pattern>/AddNewProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeQuotation</display-name>
    <servlet-name>MakeQuotation</servlet-name>
    <servlet-class>bb.com.MakeQuotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeQuotation</servlet-name>
    <url-pattern>/MakeQuotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMainService</display-name>
    <servlet-name>UpdateMainService</servlet-name>
    <servlet-class>bb.com.UpdateMainService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMainService</servlet-name>
    <url-pattern>/UpdateMainService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetData</display-name>
    <servlet-name>GetData</servlet-name>
    <servlet-class>bb.com.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClientData</display-name>
    <servlet-name>UpdateClientData</servlet-name>
    <servlet-class>bb.com.UpdateClientData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClientData</servlet-name>
    <url-pattern>/UpdateClientData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClient</display-name>
    <servlet-name>UpdateClient</servlet-name>
    <servlet-class>bb.com.UpdateClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClient</servlet-name>
    <url-pattern>/UpdateClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNewData</display-name>
    <servlet-name>GetNewData</servlet-name>
    <servlet-class>bb.com.GetNewData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewData</servlet-name>
    <url-pattern>/GetNewData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProjectData</display-name>
    <servlet-name>UpdateProjectData</servlet-name>
    <servlet-class>bb.com.UpdateProjectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProjectData</servlet-name>
    <url-pattern>/UpdateProjectData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProject</display-name>
    <servlet-name>UpdateProject</servlet-name>
    <servlet-class>bb.com.UpdateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProject</servlet-name>
    <url-pattern>/UpdateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServicesData</display-name>
    <servlet-name>UpdateServicesData</servlet-name>
    <servlet-class>bb.com.UpdateServicesData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServicesData</servlet-name>
    <url-pattern>/UpdateServicesData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServices</display-name>
    <servlet-name>UpdateServices</servlet-name>
    <servlet-class>bb.com.UpdateServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServices</servlet-name>
    <url-pattern>/UpdateServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllClients</display-name>
    <servlet-name>AllClients</servlet-name>
    <servlet-class>bb.com.AllClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllClients</servlet-name>
    <url-pattern>/AllClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllQuotations</display-name>
    <servlet-name>AllQuotations</servlet-name>
    <servlet-class>bb.com.AllQuotations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllQuotations</servlet-name>
    <url-pattern>/AllQuotations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQuotation</display-name>
    <servlet-name>GetQuotation</servlet-name>
    <servlet-class>bb.com.GetQuotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuotation</servlet-name>
    <url-pattern>/GetQuotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuotationTest</display-name>
    <servlet-name>AddQuotationTest</servlet-name>
    <servlet-class>bb.com.AddQuotationTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuotationTest</servlet-name>
    <url-pattern>/AddQuotationTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetClientData</display-name>
    <servlet-name>GetClientData</servlet-name>
    <servlet-class>bb.com.GetClientData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClientData</servlet-name>
    <url-pattern>/GetClientData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSubServicesTest</display-name>
    <servlet-name>GetSubServicesTest</servlet-name>
    <servlet-class>bb.com.GetSubServicesTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubServicesTest</servlet-name>
    <url-pattern>/GetSubServicesTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchSubServices</display-name>
    <servlet-name>FetchSubServices</servlet-name>
    <servlet-class>bb.com.FetchSubServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchSubServices</servlet-name>
    <url-pattern>/FetchSubServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuotation</display-name>
    <servlet-name>DeleteQuotation</servlet-name>
    <servlet-class>bb.com.DeleteQuotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuotation</servlet-name>
    <url-pattern>/DeleteQuotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClient</display-name>
    <servlet-name>DeleteClient</servlet-name>
    <servlet-class>bb.com.DeleteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClient</servlet-name>
    <url-pattern>/DeleteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMaxNumbers</display-name>
    <servlet-name>GetMaxNumbers</servlet-name>
    <servlet-class>bb.com.GetMaxNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMaxNumbers</servlet-name>
    <url-pattern>/GetMaxNumbers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMaxProjects</display-name>
    <servlet-name>GetMaxProjects</servlet-name>
    <servlet-class>bb.com.GetMaxProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMaxProjects</servlet-name>
    <url-pattern>/GetMaxProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>bb.com.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>bb.com.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>bb.com.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>bb.com.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/UserFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>NoCacheFilter</display-name>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>bb.com.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/NoCacheFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOldPassword</display-name>
    <servlet-name>UpdateOldPassword</servlet-name>
    <servlet-class>bb.com.UpdateOldPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOldPassword</servlet-name>
    <url-pattern>/UpdateOldPassword</url-pattern>
  </servlet-mapping>
</web-app>